<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015-2015 by Shanghai shootbox Information Technology Co., Ltd.
  ~ Create: 2015/9/17 0:22:47
  ~ Project: T_broadcast
  ~ File: AndroidManifest.xml
  ~ Class: AndroidManifest.xml
  ~ Module: app
  ~ Author: yangyankai
  ~ Version: 1.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mob.t_broadcast" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".MyBroadcaseReceiver">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.TIME_TICK"/>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
            <!--</intent-filter>-->


        </receiver>

    </application>

</manifest>
